body {
    font-family: 'Public Sans', sans-serif;
    color: dimgray;
}
.header{
    background-color: dimgrey;
}
.header > h1 {
    background-color: dimgrey;
    margin: 0% 10%;
    padding: 20px 0px;
    font-weight: normal;
    color: black;

}
h2{
    font-weight: normal;
    color: black;
    font-size: 1.2em;
}
.content{ margin: 0% 10%;}

button{
    font-weight: normal;
    color: black;
    font-size: 1.1em;
    padding: 2px 35px 5px 35px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: #ececec;
    border-width: 1px;
}

label {
    color: black;
    display: block;
    font-weight: bold;
    margin-top: 10px;
    font-size: 0.9em;
}

input {
    width: 33%;
    font-size: 1em;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}
textarea {
    width: 100%;
    font-size: inherit;
    padding: 5px;
    color: dimgray;
    margin-bottom: 10px;
    border-color: black;
    border-width: 1px;
}

.postbox{
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    color: dimgray;
    margin-bottom: 10px;
}

.postbox >h3 {
    padding: 0px;
    margin: 0px;
    color: black;
    font-weight: lighter;
    font-size: 1.8em;
}
.postbody {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding: 0px 2px;
    font-weight: lighter;
}